* {
  margin: 0;
  padding: 0;
}

.box-shadow-smoke {
  -webkit-box-shadow: 15px 15px 28px #ebebeb, -15px -15px 28px #ffffff;
          box-shadow: 15px 15px 28px #ebebeb, -15px -15px 28px #ffffff;
}

.box-shadow-pink-strong, .hidden-form .panel .bottom_panel button:hover, .status-bar .option button:hover {
  -webkit-box-shadow: #ff3d777a 0 0 20px 3px;
          box-shadow: #ff3d777a 0 0 20px 3px;
}

.font-bungee, .sidebar_right > div .bookmark, .hidden-form .panel .body_panel > div, .hidden-form .panel .body_panel > div > div button, .hidden-form .panel .bottom_panel button, .time_remaining, .status-bar .option button, #delete_zone {
  font-family: 'Bungee', cursive;
}

.font-pacifico, .quote {
  font-family: 'Pacifico', cursive;
}

.absolute-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.flex, .flex-align-center, .sidebar_right > div .bookmark a,
.sidebar_right > div .bookmark button, .flex-align-space-evenly, .flex-align-space-between, .hidden-form .panel .body_panel > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col, .sidebar_right > div .bookmark a,
.sidebar_right > div .bookmark button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-align-center, .sidebar_right > div .bookmark a,
.sidebar_right > div .bookmark button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-align-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-align-space-between, .hidden-form .panel .body_panel > div > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar_right {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 600;
}

.sidebar_right > div {
  width: 200px;
}

.sidebar_right > div .bookmark {
  width: 100%;
  border-radius: 7px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.sidebar_right > div .bookmark a,
.sidebar_right > div .bookmark button {
  height: 80px;
  width: 80px;
  margin: 5px;
  overflow: hidden;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sidebar_right > div .bookmark a:hover,
.sidebar_right > div .bookmark button:hover {
  background-color: rgba(255, 255, 255, 0.288);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.sidebar_right > div .bookmark a img,
.sidebar_right > div .bookmark button img {
  border-radius: 50%;
}

.sidebar_right > div .bookmark button {
  background-color: transparent;
  border-radius: 50%;
}

.sidebar_right > div .bookmark button:hover {
  background-color: white;
}

.background_image {
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.hidden-form {
  opacity: 0;
  display: none;
  color: #f67e7d;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 2000;
}

.hidden-form .panel {
  background-color: white;
  border-radius: 7px;
  width: 55vh;
}

.hidden-form .panel .body_panel > div {
  color: #FF3D77;
  padding: 10px;
}

.hidden-form .panel .body_panel > div > div {
  margin-bottom: 5px;
}

.hidden-form .panel .body_panel > div > div input[type=checkbox] {
  height: 20px;
}

.hidden-form .panel .body_panel > div > div input[type="text"],
.hidden-form .panel .body_panel > div > div input[type="url"],
.hidden-form .panel .body_panel > div > div input[type="datetime-local"] {
  height: 30px;
  width: 60%;
  padding: 0 5px;
  margin-bottom: 7px;
  text-align: center;
  color: #7d7aa2;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: #e1e6f9;
}

.hidden-form .panel .body_panel > div > div input[type="text"]:focus,
.hidden-form .panel .body_panel > div > div input[type="url"]:focus,
.hidden-form .panel .body_panel > div > div input[type="datetime-local"]:focus {
  background-color: #b5c4fa;
  outline: none;
}

.hidden-form .panel .body_panel > div > div .input_file {
  position: relative;
  width: 60%;
  height: 30px;
  padding: 0 5px;
  overflow: hidden;
  margin-bottom: 7px;
  border: none;
  border-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: #e1e6f9;
  text-align: center;
  color: #7d7aa2;
  font-weight: 700;
}

.hidden-form .panel .body_panel > div > div .input_file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.hidden-form .panel .body_panel > div > div .input_file input[type=file] ~ span {
  display: block;
  height: 30px;
  width: 100%;
}

.hidden-form .panel .body_panel > div > div button {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: #f67e7d;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.hidden-form .panel .body_panel > div > div button:focus {
  outline: none;
}

.hidden-form .panel .body_panel > div > div button:hover {
  background-color: #FF3D77;
}

.hidden-form .panel .bottom_panel {
  height: 60px;
  margin: 10px;
}

.hidden-form .panel .bottom_panel button {
  margin: 10px;
  height: 40px;
  width: 100px;
  float: right;
  color: white;
  cursor: pointer;
  background: #c7d2fa;
  border-radius: 20px;
  border: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.hidden-form .panel .bottom_panel button:focus {
  outline: none;
}

.hidden-form .panel .bottom_panel button:hover {
  background-color: #FF3D77;
}

.container {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.time_remaining {
  overflow: hidden;
  height: 280px;
}

.time_remaining .short_format {
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  z-index: 600;
}

.time_remaining .short_format h1 {
  padding: 0 20px 0 20px;
  font-size: 120px;
  color: white;
  line-height: 150px;
  overflow: hidden;
}

.time_remaining .short_format p {
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: white;
  color: cornflowerblue;
  text-align: center;
}

.time_remaining .detail_format {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -40px;
  color: white;
  text-align: center;
  background-color: #7d7aa2;
  border-radius: 0 0 7px 7px;
  opacity: 0;
  -webkit-transition: margin-top .2s, opacity .2s;
  transition: margin-top .2s, opacity .2s;
  z-index: 500;
}

.time_remaining .detail_format .TM {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  padding: 0 5px 0 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.time_remaining .detail_format .TM:hover {
  background-color: white;
  color: #7d7aa2;
}

.time_remaining:hover .short_format {
  border-radius: 7px 7px 0 0;
}

.time_remaining:hover .detail_format {
  margin-top: 0px;
  opacity: 1;
}

.quote {
  margin-top: 30px;
  max-width: 30%;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.status-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  background-color: transparent;
}

.status-bar .option {
  margin-left: 30px;
}

.status-bar .option button {
  min-width: 100px;
  border: white 2px solid;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.status-bar .option button:focus {
  outline: none;
}

.status-bar .option button:hover {
  border-color: #FF3D77;
  background-color: #FF3D77;
  color: white;
}

.option_wraper_actived {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
}

.app_actived {
  opacity: 0 !important;
}

#delete_zone {
  background-color: #ff3d778a;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */